<h3>Detalles del empleado</h3>
<div>
    <div>
        <label><b>ID: </b>{{ empleado.id }}</label>
    </div>
    <div>
        <label><b>Nombre: </b>{{ empleado.nombre }}</label>
    </div>
    <div>
        <label><b>Apellidos: </b>{{ empleado.apellidos}}</label>
    </div>
    <div>
        <label><b>Email: </b>{{ empleado.email }}</label>
    </div>
    <div>
        <label><b>Teléfono: </b>{{ empleado.telefono }}</label>
    </div>
    <div>
        <label><b>DNI o NIF: </b>{{ empleado.dni }}</label>
    </div>
    <div>
        <label><b>Fecha de nacimiento: </b>{{ empleado.fechaNacimiento }}</label>
    </div>
    <div>
        <label><b>Sueldo: </b>{{ empleado.sueldo }}</label>
    </div>
    <div>
        <label><b>Dirección: </b>{{ empleado.direccion }}</label>
    </div>
    <div>
        <label><b>Departamento: </b>{{ empleado.departamento}}</label>
    </div>
    <div>
        <button class="btn btn-success" (click)="volverListaEmpleados()">Volver</button>
    </div>
</div>